<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Home-Evaluation</title>
	<link rel="stylesheet" type="text/css" href="css/home.css" />
	<script type="text/javascript" src="javascript/menu.js"></script>
</head>
<body>
	<div id="header">
		<div id="evaluation">
			<h1 id="evText">Evaluation</h1>category
		</div>
		<div id="logo">
			<div id="logoImg">
				<img src="images/logo.png" id="photographyLogo" />
			</div>
		</div>
		<div id="perfil">
			<div id="divPhoto">
				<img src="images/login.png" id="photographyLogin" />
			</div>
			<div class="datos">
				<span>Nombre: </span>
			</div>
			<div class="datos">
				<span>Apellidos: </span>
			</div>
			<div class="datos">
				<span>Rol: </span>
			</div>
		</div>
	</div>
	<div id="nav">
		<div class="contMenu">
			<div class="menu" id="home">
				<a href="home.html">Home</a>
			</div>
		</div>
		<div class="contMenu">
			<div class="menu" id="create">Usuarios</div>
			<a class="options createOptions" id="c1" href="">Listar</a>
			<a class="options createOptions" id="c2" href="">Crear</a>
			<a class="options createOptions" id="c3" href="">Modificar</a>
		</div>
		<div class="contMenu">
			<div class="menu" id="asign">Asignar Evaluadores</div>
		</div>
		<div class="contMenu">
			<div class="menu" id="history">Historial</div>
			<a class="options historyOptions" id="h1" href="">Año actual</a>
			<a class="options historyOptions" id="h2" href="">Año anterior</a>
			<a class="options historyOptions" id="h3" href="">Otros</a>
		</div>
		<div class="contMenu">
			<div class="menu" id="propos">Candidatos</div>
		</div>
		<div class="contMenu">
			<div class="menu" id="equip">Equipo-Contacto</div>
			<a class="options equipOptions" id="e1" href="">Evaluation</a>
			<a class="options equipOptions" id="e2" href="">Havas</a>
			<a class="options equipOptions" id="e3" href="">Hiberus Travel</a>
		</div>
	</div>
	<div id="container">
			<h1>Bienvenido!</h1>
	</div>

</body>
</html>
